.project {
    margin-top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project h1 {
    text-align: center;
    margin-top: 50px;
    color: #3e497a;
    font-size: 35px;
}

.project img {
    width: 700px;
    border-radius: 10px;
}

.project p {
    text-align: center;
    font-size: 40px;
    color: #3e497a;
}

.project svg {
    font-size: 60px;
    color: #2a2b31;
}

@media only screen and (max-width: 750px) {
    .project img {
        width: 500px;
    }

    .project p {
        font-size: 32px;
    }

    .project svg {
        font-size: 50px;
    }
}

@media only screen and (max-width: 550px) {
    .project img {
        width: 300px;
    }

    .project p {
        font-size: 24px;
    }

    .project svg {
        font-size: 40px;
    }
}